* {
    margin: 0;
    user-select: none;
}

.main {
    background-color: rgb(221, 226, 221);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    background-color: green;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    background-color: indianred;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.table {
    width: 100%;
    height: 60%;
    background-color: lightblue;
}

.controls {
    width: 100%;
    height: 20%;
    background-color: rgb(128, 240, 225);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.control-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-item:hover {
    background-color: lightcoral;
}

.control-item:active {
    background-color: rgb(160, 76, 76);
}

.polett {
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    border-radius: 50px;
    background: rgb(122, 23, 23);
}

.bet-value {
    width: 100%;
    height: 100%;
    text-align: center;
}